@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


.quicksand-fond {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
body{
  background-color: #F5F5F5;
  margin: 0 auto;
  width: 100%;
}
/* share style  */ 

.display-flex{
  display: flex;
}
.color-orange{
 color: Orange;
}
/* nav style  */
nav{
  max-width: 100%;
  height: 90px;
  padding: 20px 0; 
}
.nav{
  max-width: 90%;
  height: 62px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
.nav-disscirpston{
  justify-content: space-around;
  align-items: center;
  width: 40%;
  height: 30px;
  
}
.nav-disscirpston a{
  justify-content: space-evenly;
  text-decoration: none;
}
.src-logo{
  width: 100%;
  height: 50px;
}
.Sky-Blue{
  color: #01ACFD;
}
.manu-src{
 display: none ;
}
.btn-coontact{
  width: 12.3rem;
  height: 50px;
  margin: 6px 1px 6px 0;
  border-radius: 12px;
  border: none;
  background-color: Orange;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 600;
}
/* banner styles */
.banner{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  
  margin: 0 auto;
}
.banner-box{
  align-items: center;
  justify-content: space-around;
  text-align: center;
  width: 90%;
  gap: 50px;
}
.Empowering{
  text-align: left;
  align-items: center;
  width: 100%;
  height: 100%;
}
.banner-title{
  font-size: 56px;
  font-weight: 600;
}
.courage-title{
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 2rem;
}
.btn-coontact-2{
  width: 197px;
  height: 50px;
  background-color: #111111;
  color: #FFFFFF;
  border-radius: 12px;
  font-size: 20px;
  font-weight: 700;
}
.src-hero{
  width: 100%;
  height: 100%;
}
.hero-img{
  width: 100%;
  height: 100%;
}
     /* card styles */
.content-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-image: url("../assets/bg.png") ;
  width: 100%;
  height: 100%;
  gap: 28px;
}
.content-title{
  font-size: 46px;
  font-weight: 700;
}
 .content-card-title{
  width: 99.80%;
  height: 100%;
  display: flex;
  justify-content: center;
} 
.card-home{
  width: 90%;
  height: 100%;
  justify-content: center;
  justify-content: space-between;
  gap: 28px;
  margin: 80px 0;
}
.card-1, .card-2, .card-3{
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 19px;
  gap: 40px;
  padding: 5rem 2rem;
}
.card-img{
 width: 90%;
 height: 100%;
}
.card-1{
  background: linear-gradient(to bottom, #DEF5FF 20%, #FFFFFF 80%); 
box-shadow: 0 0 0 1px #DEF5FF;
}
.card-2{
  padding-bottom: 6rem;
  background: linear-gradient(to bottom, #FFF4DC 20%, #FFFFFF 80%);
  box-shadow: 0 0 0 1px #FFF4DC;
}
.card-3{
  background: linear-gradient(to bottom, #F2E8FF 20%, #FFFFFF 80%);
  box-shadow: 0 0 0 1px #F2E8FF;
}
.card-title{
  font-size: 24px;
  font-weight: 700;
}
.card-pera{
  font-weight: 500;
  font-size: 16px;
}
.card-btn-1, 
.card-btn-2, 
.card-btn-3{
  border:none;
  font-size: 16px;
  font-weight: 700;
  background-color: white;
}
.card-btn-1{
  color: #64C8FF;
}
.card-btn-2{
  color: #F0AA00;
}
.card-btn-3{
  color: #8700FF;
}
.icon a {
  text-decoration: none;
  padding: 8px 16px;
}
.round{
  border-radius: 50%;
  color: #FFFFFF;
  background-color: #FEA301;
}
                 /* story stiles */
.content-img{
   display: grid;
   justify-content: center;
   background-image: url("../assets/bg.png"),linear-gradient(to top, #fcf2dc 10%, #F5F5F5  90%);
   width: 100%;
   height: 100%;
  }
.content-img-title{
  text-align: center;
  width: 100%;
  font-size: 46px;
  font-weight: 700;
}
.content-box{
  width: 90%;
  height: 80%;
  gap: 30px;
  padding: 80px 0;
  margin: 0 auto;
}
.Find-out{
  display: grid;
  grid-template-columns:repeat(2,1fr) ;
  gap: 30px;
}
.story-box{
  padding-bottom: 2rem;
  background-color: white;
  border-radius: 12px;
}
.story-src{
  width: 100%;
  height: 100%; 
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}
.box-btn-1{
  position: absolute;
  margin-top:36rem;
  margin-left: -40rem;
  padding: 10px 20px;
  border-radius: 15px;
  background-color: #3CD8E8;
  border: none;
}
.box-btn{
  position: absolute;
  margin-top: 13.5rem;
  margin-left: 1.8rem;
  padding: 10px 20px;
  border-radius: 15px;
  border: none;
} 
.color-btn{
  background-color: #95B226;
}
.title-gab{
  padding: 20px;
}
.story-box-title{
  justify-content: center;
  align-items: center;
}
.box-view{
 display: flex;
 justify-content: center;
 margin-bottom: 60px;
}
.box-btn-view{
  background-color: black;
  color: white;
  width: 197px;
  height: 50px;
  border-radius: 12px;
  border: none;
}
         /* footer styles */
.content-fotr{
  justify-content: center;
  align-items: center;
  background-color: #01ACFD;
  width: 100%;
  height: 100%;
 padding:  100px 0;
}
.content-fotr-title{
  justify-content: space-around;
  margin: 0 auto;
  width: 90%;
  height: 80%;
  }
.fotr-img{
  width: 82px;
  height: 81px;
}
.about-title a{
  text-decoration: none;
  color: white;
}
.fotr-pare{
  max-width: 399px;
}
.about-title{
  display: grid;
  color: white;
}
.color-title-2{
  font-weight: 700;
}
.color-title{
  color: white;
}
@media only screen and (max-width: 428px){
  body{
    width: 100%;
    
  }
         /* nav style  */
  .nav{
    display: flex;
    border-bottom: 1px solid #FEA301;
    width: 90%;
    height: 70px;
  }
  .nav-title{
    display: none;
  }
  .btn-coontact{
    display: none;
  }
  .nav-title {
    display: none;
  }
  .manu-src{
    display: block;
  }
 .nav-disscirpston{
   display: none;
   flex-direction: column-reverse;
   padding: 20px;
  }
         /* banner styles */
 
  .banner-box{
    flex-direction: column-reverse;
    gap: 1rem;
  }
 .content-card{
   display: flex;
   flex-direction: column-reverse;
   padding: 20px;
   width: 100%;
  }
 .Empowering{
   text-align: center;
   width: 100%;
  }
 .banner-title{
   width: 90%;
   margin: 0 auto;
   font-size: 2.2rem;
  }
 .courage-title{
   width: 90%;
   margin: 20px auto 50px auto;
   font-size: 1.5rem;
  }
 .src-hero{
   margin: 0 auto;
   width: 90%;
   height: 100%;
   padding-right: 2.2rem;
  }
 .hero-img{
   width: 100%;
   height: 100%;
   margin: 0 auto;
  }
            /* card styles */
 .mani{
   max-width: 100%;
   max-height: 100%;
   margin-top: 8.5rem ; 
  }
 .content-card{
   width: 100%;
   height: 80%;
   display: flex;
   flex-direction: column;
 }
 .card-home{
   margin-top: 1px;
   flex-direction: column;
   justify-content: center;
   margin-right: 2rem;
 }
 .content-title{
   width: 90%;
   height: 90%;
   font-size: 1.5rem;
   font-weight: 800;
   margin: 1rem 2.8rem 1rem 0;
 }
 .card-1, .card-2, .card-3{
  padding: 5rem 1rem;
   width: 90%;
   height: 100%;
 }
 .icon{
  padding-right: 1.5rem;
 }
 /* story stiles */
 .story-box-1{
   display: none;
 }
 .content-img{
  width: 100%;
 }
 .Find-out{
   width: 100%;
   grid-template-rows: repeat(2, 1fr);
   padding-right:30px ;
 }
 .story-box{
  width: 173px;
 }
 .story-src{
  width: 173px;
 }
 .box-btn{
  width: 103px;
  height: 22px;
  padding: 4px 8px;
  margin-top: 5.8rem;
 }
         /* footer style */
 .content-fotr{
   width: 100%;
   height: 100%;
 }
 .content-fotr-title{
   flex-direction: column;
   padding: 0 20px;
 }
 .fotr-pare{
   max-width: 290px;
 }
}